.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.inputField{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 656px;
    height: 64px;
    left: 454px;
    top: 207px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}

.aboveFieldText{
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    left: 454px;
    display: flex;
    align-items: center;
    color: #000000;
}

.inputField2{
    box-sizing: border-box;
    position: absolute;
    width: 656px;
    height: 64px;
    left: 454px;
    top: 357px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}

.aboveFieldText2{
    position: absolute;
    width: 323px;
    height: 49px;
    left: 454px;
    top: 308px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.leaderBox{
    box-sizing: border-box;
    position: absolute;
    width: 328px;
    height: 563px;
    left: 51px;
    top: 210px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}

.boxText {
    position: absolute;
    width: 323px;
    height: 49px;
    left: 21px;
    top: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 32px;
}

.boxTopContent{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 25px;
}

.verticalLine{
    position: absolute;
    width: 380px;
    height: 0px;
    left: 10px;
    top: 230px;
    border: 1px solid #000000;
    transform: rotate(90.11deg);
}

.horizontalLine{
    position: absolute;
    width: 288px;
    height: 0px;
    left: 30px;
    top: 55px;
    border: 1px solid #1E1E1E;
    transform: rotate(-0.2deg);
}

.dataBox{
    position: absolute;
    margin-left: 10px;
    margin-top: 30px
}






