.headerContent {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: #DBE6E9;
    height: 83px;
    border-radius: 12px;
    max-width: 1480px;
}

.headerButtons{
    height: 44px;
    width: 91px;
    border-radius: 12px;
    border: 1px solid #000000;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    
}

.plusButton{
    height: 44px;
    width: 44px;
    border-radius: 12px;
    border: 1px solid #000000;
    margin-right: 11px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.dashboardButton{
    height: 44px;
    width: 180px;
    border-radius: 12px;
    border: 1px solid #000000;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    cursor: pointer;
}

.logo{
    width: 50px;
}
.title{
    font-size: 24px;
    line-height: 26px;
    margin-right: 5px;
    
}
.eth-text {
    display: flex ;
    justify-content: flex-start;
    margin-right: 300px;
    max-width: 130px;
    
}


