.headerContent {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #DBE6E9;
    height: 83px;
    border-radius: 12px;
}
.headerRight {
    display: flex;
    margin-right: 20px;
}
.headerLeft {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.headerButtons{
    height: 44px;
    width: 91px;
    border-radius: 12px;
    border: 1px solid #000000;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    margin-right: 12px;
}

.plusButton{
    height: 44px;
    width: 44px;
    border-radius: 12px;
    border: 1px solid #000000;
    margin-right: 11px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    margin-right: 12px;
}

.dashboardButton{
    height: 44px;
    width: 180px;
    border-radius: 12px;
    border: 1px solid #000000;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    cursor: pointer;
    margin-right: 12px;
}

.headerLogo {
    width: 32px;
    margin-right: 12px;
}
.headerTitle{
    font-size: 24px;
    line-height: 26px;
    margin-right: 12px;
}
.headerEthText {
    display: flex ;
    justify-content: flex-start;
    font-size: 15px;
    max-width: 120px;
}


