
.uploadFacet {
    flex-direction: column;
    padding: 80px 100px;
}
.title{
    width: 670px;
    height: 98px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
}

.label{
    width: 323px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.titleInput{
    box-sizing: border-box;
    width: 646px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}

.descriptionInput{
    box-sizing: border-box;
    width: 646px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}
.descriptionLabel{
    width: 323px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.abiLabel{
    width: 323px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000; 
}

.abiInput{
    box-sizing: border-box;
    width: 646px;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}

.sourceLabel{
    width: 323px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.sourceInput{
    box-sizing: border-box;
    width: 646px;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}
