.title{
    position: absolute;
    width: 670px;
    height: 98px;
    left: 46px;
    top: 118px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
}

.label{
    position: absolute;
    width: 323px;
    height: 49px;
    left: 45px;
    top: 216px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.titleInput{
    box-sizing: border-box;
    position: absolute;
    width: 646px;
    height: 49px;
    left: 45px;
    top: 272px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}

.descriptionInput{
    box-sizing: border-box;
    position: absolute;
    width: 646px;
    height: 49px;
    left: 46px;
    top: 385px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}
.descriptionLabel{
    position: absolute;
    width: 323px;
    height: 49px;
    left: 53px;
    top: 328px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.abiLabel{
    position: absolute;
    width: 323px;
    height: 49px;
    left: 53px;
    top: 440px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000; 
}

.abiInput{
box-sizing: border-box;
position: absolute;
width: 646px;
height: 100px;
left: 46px;
top: 493px;
background: #FFFFFF;
border: 2px solid #1E1E1E;
border-radius: 12px;
}

.sourceLabel{
    position: absolute;
    width: 323px;
    height: 49px;
    left: 53px;
    top: 593px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.sourceInput{
    box-sizing: border-box;
    position: absolute;
    width: 646px;
    height: 100px;
    left: 46px;
    top: 642px;
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}
