.footerContent {
    width: 100%;
    margin-top: 100px;
    height: 139px;
    background: var(--bg-dark-gray);
    display: flex;
    justify-content: flex-end;
}

.footerContent a {
    margin-top: 60px;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 40px !important;
}

.contentLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 65px;
    margin-right: 998px;
}
