.footerContent {
    position: absolute;
    width: 1800px;
    height: 139px;
    left: 0px;
    top: 843px;
    background: #DEDDDD;
}

a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 40px !important;
}
